<app-navbar></app-navbar>

<ngb-carousel class="banner">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="banner" src="assets/img/banner2.jpg" alt="Random first slide" />
    </div>
    <div class="carousel-caption d-none d-md-block">
      <p class="name">Wisepath Counsellor</p>
      <h4>Fly....</h4>
      <p style="margin-bottom: 7rem ; font-size:larger"><b>Your Body Is Ready to Fly, Fly With us and Chase You
          dreams</b></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="banner" src="assets/img/banner1.jpg" alt="Random second slide" />
    </div>
    <div class="carousel-caption d-none d-md-block">
      <p class="name">Wisepath Counsellor</p>
      <h4>Fly....</h4>
      <p style="margin-bottom: 7rem ; font-size:larger"><b>Your Body Is Ready to Fly, Fly With us and Chase You
          dreams</b></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="banner" src="assets/img/banner3.jpg" alt="Random third slide" />
    </div>
    <div class="carousel-caption d-none d-md-block">
      <p class="name">Wisepath Counsellor</p>
      <h4>Fly....</h4>
      <p style="margin-bottom: 7rem ; font-size:larger"><b>Your Body Is Ready to Fly, Fly With us and Chase You
          dreams</b></p>
    </div>
  </ng-template>
</ngb-carousel>

<section class="py-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-10 mx-auto">
        <div class="mb-3">
          <div class="about-header my-4" style="border-left: 2px solid white;">
            <h1 style="font-size:50px">About Us</h1>
          </div>
          <p class="about-pera">My Gym Intro Maker contains 4 video templates that
            match the keyword GYM. Each video template on Intro Maker has a title, a description, and keywords.
            If you can't find what you're looking for by keyword, you can also
            use the search bar above to search through all three metadata fields.
            If you can't find what you're looking for by keyword, you can also
            use the search bar above to search through all three metadata fields.
          </p>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-10 mx-auto mb-3">
        <div class="about-banner">
          <img src="assets/img/logo.png" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

</section>


<section class="py-1 px-3 mx-auto text-center text-white" style="">
  <div class="container">
    <div class="row mt-2">
      <div class="diets col-lg-3 col-md-6 col-sm-6 mx-auto my-2">
        <img src="assets/img/Visa.png" class="event-gym image-fluid">
        <div class="name">
          <h2><a href="/./service/cardio" class="text-dark text-decoration-none event-name">Visa</a></h2>
        </div>
        <div class="dietout"></div>
      </div>

      <div class="diets col-lg-3 col-md-6 col-sm-6 mx-auto my-2">
        <img src="assets/img/Accomodation.webp" class="event-gym image-fluid">
        <div>
          <h2><a href="/./service/lifting" class="text-dark text-decoration-none event-name">Accomodation</a></h2>
        </div>
        <div class="dietout"></div>
      </div>

      <div class="diets col-lg-3 col-md-6 col-sm-6 mx-auto my-2">
        <img src="assets/img/dollar.png" class="event-gym image-fluid">
        <div>
          <h2><a href="/./service/gym" class="text-dark text-decoration-none event-name">Loan</a></h2>
        </div>
        <div class="dietout"></div>
      </div>

      <div class="diets col-lg-3 col-md-6 col-sm-6 mx-auto my-2">
        <img src="assets/img/job.png" class="event-gym image-fluid">
        <div>
          <h2><a href="/./service/stretch" class="text-dark text-decoration-none event-name">Jobs</a></h2>
        </div>
        <div class="dietout"></div>
      </div>


      <div class="diets col-lg-3 col-md-6 col-sm-6 mx-auto my-2">
        <img src="assets/img/Councelling.png" class="event-gym image-fluid">
        <div>
          <h2><a href="/./service/lifting" class="text-dark text-decoration-none event-name">Councelling</a></h2>
        </div>
        <div class="dietout"></div>
      </div>


      <div class="diets col-lg-3 col-md-6 col-sm-6 mx-auto my-2">
        <img src="assets/img/Calculator.png" class="event-gym image-fluid">
        <div>
          <h2><a href="/./service/lifting" class="text-dark text-decoration-none event-name">Calculator</a></h2>
        </div>
        <div class="dietout"></div>
      </div>

      <div class="diets col-lg-3 col-md-6 col-sm-6 mx-auto my-2">
        <img src="assets/img/ielts.png" class="event-gym image-fluid">
        <div>
          <h2><a href="/./service/lifting" class="text-dark text-decoration-none event-name">IELTS</a></h2>
        </div>
        <div class="dietout"></div>
      </div>
    </div>
  </div>
</section>
