<app-navbarall></app-navbarall>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-6 d-flex justify-center">
      <div class="Support text-center">
        <h1 class="Support-head">Chat Support</h1>
        <span class="text-secondary">Our Support team is just one click away. We are always available for
          you.</span><br><br>
        <b><a href="https://wa.me/7291076700?text=Hi, I need your support for the purpose of immigration" class="text-success">Chat now <svg xmlns="http://www.w3.org/2000/svg"
              width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
            </svg></a></b>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-6 d-flex justify-center">
      <div class="Support text-center">
        <h1 class="Support-head">Mail Support</h1>
        <span class="text-secondary">Prefer to email? Send us an email and we'll get back to you soon</span><br><br>
        <b><a href="mailto:sagarrock10oct@gmail.com" class="text-success">Email now <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
            </svg></a></b>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-6 d-flex justify-center">
      <div class="Support text-center">
        <h1 class="Support-head">Help Center</h1>
        <span class="text-secondary">Our Self-Service help center is open 24/7 with multiple articles to Help
          you.</span><br><br>
        <b><a href="#" class="text-success">Visit<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
            </svg></a></b>
      </div>
    </div>
  </div>



  <div class="row mt-3">
    <div class="col-lg-8 col-md-10 col-sm-12 text-center mx-auto">
      <span style="font-size:small; color:grey"><b>Our Support Team</b></span>
      <h1 style="font-weight: 500;">Talk to real people</h1>
      <span class="text-secondary">Amazing cuastomer support is the #1 reason our creators cite for podia. Our support
        team knows that the enterpreneurial journey comes with challenges, and we're here to help yoy every step of the
        way.</span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-lg-3 col-md-3 col-6 mt-5" style="padding-left: 2%;">
      <img src="assets/img/face.jpg" style="height: 55px; border-radius: 50px;"><br>
      <div><span class="text-secondary">Delhi, India</span></div>
      <div class="my-1"><span style="font-size:18px; font-weight: 400;">Sagar Sharma
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill text-primary" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
        </svg></span><br></div>
      <div><span class="text-secondary">You can Contact me anytime, i will provide you soon reply</span></div>
    </div>

    <div class="col-lg-3 col-md-3 col-6 mt-5" style="padding-left: 2%;">
      <img src="assets/img/face.jpg" style="height: 55px; border-radius: 50px;"><br>
      <div><span class="text-secondary">Delhi, India</span></div>
      <div class="my-1"><span style="font-size:18px; font-weight: 400;">Juggnu <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill text-primary" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
      </svg></span><br></div>
      <div><span class="text-secondary">You can Contact me anytime, i will provide you soon reply</span></div>
    </div>

    <div class="col-lg-3 col-md-3 col-6 mt-5" style="padding-left: 2%;">
      <img src="assets/img/face.jpg" style="height: 55px; border-radius: 50px;"><br>
      <div><span class="text-secondary">Delhi, India</span></div>
      <div class="my-1"><span style="font-size:18px; font-weight: 400;">Kapil Tyagi <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill text-primary" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
      </svg></span><br></div>
      <div><span class="text-secondary">You can Contact me anytime, i will provide you soon reply</span></div>
    </div>

    <div class="col-lg-3 col-md-3 col-6 mt-5" style="padding-left: 2%;">
      <img src="assets/img/face.jpg" style="height: 55px; border-radius: 50px;"><br>
      <div><span class="text-secondary">Delhi, India</span></div>
      <div class="my-1"><span style="font-size:18px; font-weight: 400;">Dhruv Sharma <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill text-primary" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
      </svg></span><br></div>
      <div><span class="text-secondary">You can Contact me anytime, i will provide you soon reply</span></div>
    </div>
  </div>





  <div class="row mt-5">
    <div class="col-lg-4 col-md-5 col-10 mx-auto joinForm">
      <h1 class="text-center">Join Us Today</h1>
      <form>
        <div class="mb-3">

          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input placeholder="Enter your Name" class="w-100 form-control" style="box-shadow:2px 2px 2px #14A44D;">
          </div><br>

          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input placeholder="Enter your Email" class="w-100 form-control" style="box-shadow:2px 2px 2px #14A44D;">
          </div><br>

          <div class="form-group">
            <label for="exampleInputEmail1">Phone</label>
            <input placeholder="Enter your Phone" class="w-100 form-control" style="box-shadow:2px 2px 2px #14A44D;">
          </div><br>

          <div class="form-group">
            <label for="exampleInputEmail1">Preferred Country</label>
            <input placeholder="Enter your Preferred Country" class="w-100 form-control"
              style="box-shadow:2px 2px 2px #14A44D;">
          </div><br>

          <div class="form-group">
            <label for="exampleInputEmail1">Purpose</label>
            <textarea placeholder="Enter your Purpose" class="w-100 form-control"
              style="box-shadow:2px 2px 2px #14A44D;"></textarea>
          </div><br>

          <button class="btn btn-success">Save</button>

        </div>
      </form>
    </div>
  </div>



  <a href="tel:7291076700"><img src="assets/img/phone.png" class="phone"></a>

</div>