<!-- HEADER NAV -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><img class="logo" src="assets/img/logo.png"></a>
  <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">


    <svg (click)="openClose()" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
      class="bi bi-card-list" viewBox="0 0 16 16">
      <path
        d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
      <path
        d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0" />
    </svg>



  </button>
  <div class="d-flex justify-content-center w-100">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-5">
        <li class="nav-item active">
          <a class="nav-link mx-3 text-light" href="#">Home</a>
        </li>
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn nav-link mx-3 text-light" id="dropdownBasic1" ngbDropdownToggle>
              Services
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Visa</button>
              <button ngbDropdownItem>Loan</button>
              <button ngbDropdownItem>Accomodation</button>
              <button ngbDropdownItem>Jobs</button>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link mx-3 text-light" href="#">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link mx-3 text-light" routerLink="contactUs">Conatct Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link mx-3 text-light" href="#">Help</a>
        </li>

      </ul>
    </div>

    <div class="my-2"><button class="btn btn-success mx-2 joinusBtn" (click)="open(content)">Join Us</button></div>
  </div>
</nav>


<!-- SIDENAV -->
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side"> <!-- mode='over',  mode="push",  mode="side" -->
    <h3 class="text-success mx-2 mt-2"><b>Wisepath Counsellor</b></h3>
    <mat-list>


      <mat-list-item><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
          class="bi bi-house" viewBox="0 0 16 16">
          <path
            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
        </svg>&nbsp;&nbsp;&nbsp;&nbsp;<a class="sidenav-item" routerLink="input">Home</a></mat-list-item>

      <mat-list-item><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
          class="bi bi-person-workspace" viewBox="0 0 16 16">
          <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
          <path
            d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.4 5.4 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2z" />
        </svg>&nbsp;&nbsp;&nbsp;&nbsp;<mat-label>Services</mat-label>
        <mat-select>
          <mat-option>Visa</mat-option>
          <mat-option>Loan</mat-option>
          <mat-option>Jobs</mat-option>
          <mat-option>Home</mat-option>

        </mat-select>
      </mat-list-item>


      <mat-list-item><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
          class="bi bi-file-earmark-person" viewBox="0 0 16 16">
          <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
          <path
            d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5z" />
        </svg>&nbsp;&nbsp;&nbsp;&nbsp;<a class="sidenav-item" routerLink="input">About Us</a></mat-list-item>


      <mat-list-item><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
          class="bi bi-person-lines-fill" viewBox="0 0 16 16">
          <path
            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
        </svg>&nbsp;&nbsp;&nbsp;&nbsp;<a class="sidenav-item" routerLink="contactUs">Contact Us</a></mat-list-item>


      <mat-list-item><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
          class="bi bi-question-octagon" viewBox="0 0 16 16">
          <path
            d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z" />
          <path
            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94" />
        </svg>&nbsp;&nbsp;&nbsp;&nbsp;<a class="sidenav-item" routerLink="input">Help</a></mat-list-item>


      <hr>
      <mat-list-item><button class="btn btn-success" (click)="open(content)">Join Us</button></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



<!-- JOIN US FORM -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title text-center" id="modal-basic-title"><u>Join us Today</u></h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">

        <div class="form-group d-flex justify-sapce-around">
          <div class="mx-1">
            <label for="exampleInputEmail1">First Name</label>
            <input placeholder="Enter your Name" class="w-100 form-control" style="box-shadow:2px 2px 2px #14A44D;">
          </div>

          <div class="mx-1">
            <label for="exampleInputEmail1">Middle Name</label>
            <input placeholder="Enter your Name" class="w-100 form-control" style="box-shadow:2px 2px 2px #14A44D;">
          </div>

          <div class="mx-1">
            <label for="exampleInputEmail1">Last Name</label>
            <input placeholder="Enter your Name" class="w-100 form-control" style="box-shadow:2px 2px 2px #14A44D;">
          </div>
        </div><br>

        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input placeholder="Enter your Email" class="w-100 form-control" style="box-shadow:2px 2px 2px #14A44D;">
        </div><br>

        <div class="form-group">
          <label for="exampleInputEmail1">Phone</label>
          <input placeholder="Enter your Phone" class="w-100 form-control" style="box-shadow:2px 2px 2px #14A44D;">
        </div><br>

        <div class="form-group">
          <label for="exampleInputEmail1">Preferred Country</label>
          <input placeholder="Enter your Preferred Country" class="w-100 form-control"
            style="box-shadow:2px 2px 2px #14A44D;">
        </div><br>

        <div class="form-group">
          <label for="exampleInputEmail1">Purpose</label>
          <textarea placeholder="Enter your Purpose" class="w-100 form-control"
            style="box-shadow:2px 2px 2px #14A44D;"></textarea>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>